// 标题，修改成你期望的字体族
$font-family-headings = "Lato", "PingFang SC", "Microsoft YaHei", sans-serif

// 修改成你期望的字体族
$font-family-base = "Lato", "PingFang SC", "Microsoft YaHei", sans-serif

// 代码字体
$code-font-family = consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace

// 正文字体的大小
$font-size-base = 16px

// 代码字体的大小
$code-font-size = 14px